# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

.dotbuild/
engine/
firefox-*/
node_modules/
.amelia/

__pycache__/
dist/

windsign-temp/
venv/

!firefox-cache/
win-cross/

!firefox-patches/
target/
.vscode/
locales/
locales/firefox-l10n/
!/src/browser/locales/
/src/browser/locales/*
!/src/browser/locales/en-US/
/src/browser/locales/en-US/*
!/src/browser/locales/en-US/browser/
/src/browser/locales/en-US/browser/*
!/src/browser/locales/en-US/browser/midori/
/src/browser/locales/en-US/browser/midori/*
!/src/browser/locales/en-US/browser/midori/blocker.ftl

update.astian.org/
update.astian.org/browser/
.mozbuild/
build/
build-*/
build-*/dist/
flatpak-node/
