
@-moz-document domain("twitter.com") {
  @media (prefers-color-scheme: dark) {
  :root {
--twitter:#00000075;
    --twitter-ara:#20232775;
    }
}
@media (prefers-color-scheme: light) {
  :root {
--twitter:#ffffff75;
    --twitter-ara:#eff3f475;
    }
}
  
 
  .r-kemksi,
  .r-5zmot,
  .r-qo02w8,
  .r-14lw9ot,
  .r-6026j{
    background:var(--twitter) !important;
  }
  .r-l5o3uw,
  .r-1vtznih{
    background: #9bc9e875 !important;
  }
  .r-z32n2g {
    background: var(--twitter-ara) !important;
  }
  
  .r-14lw9ot,
  .r-kemksi,
  .r-5zmot,
  .r-l5o3uw,
  .r-1vtznih{
    backdrop-filter: blur(33px) !important;
  }
  .r-1279nm1,
  .r-qo02w8,
  .r-l5o3uw,
  .r-htvplk,
  .r-1vtznih,
  .r-16wqof{
    border:1px solid var(--gnome-kose) !important;
  }
  .r-jxzhtn {
    border-color:var(--gnome-kose) !important;
  }
  .r-l5o3uw,
  .r-1tmwssf,
  .r-notknq,
  .r-1867qdf,
  .r-16wqof{
    border-radius: 12px !important;
  }
  
  .r-11z020y {
    background: none !important;
  }
  .r-qo02w8 {
    box-shadow: none !important;
  }
  
}






