@-moz-document domain("yandex.com") {

@media (prefers-color-scheme: dark) {
  :root {
--yandex:#11111275;
 --yandex-menu:#2f2f3275;
    --yandex-bar:#0e0e0e75;
    }
}
@media (prefers-color-scheme: light) {
  :root {
--yandex:#fbfbfb75;
   --yandex-menu:#ffffff75;
    --yandex-bar:#ffffff75;
  }

}
  :root,
   .i-ua_skin_dark,
.block_skin_dark,
  .i-ua_skin_light,
.block_skin_light,
  .mini-suggest__popup_theme-color_dark,
  .mini-suggest__popup_theme-color_light{
--depot-color-bg-overflow:var(--yandex) !important;
  --depot-color-bg-overflow-secondary:var(--yandex-bar) !important;
  --suggest-color-g-bg-secondary:var(--yandex) !important;
    --depot-color-bg-secondary:var(--yandex) !important;
    --depot-color-bg-primary:var(--yandex) !important;
    --depot-color-bg-tertiary:var(--yandex) !important;
    --color-g-bg-secondary:var(--yandex-bar) !important;
  
  }
  .keyboard__popup,
  .keyboard__lang-button,
  .simple-popup_theme_normal{
    background: var(--yandex-menu) !important;
    color:var(--gnome-yazi) !important;
  }
  .keyboard__key {
    background: var(--yandex-bar) !important;
  }
  
  .HeaderDesktop,
  .Popup2_view_default,
  .AppAdvancedSearch,
  .mini-suggest__popup,
  .Polaroid,
  .hbFv7dU3PKRdCPJA-LayoutContainer,
  .keyboard__popup,
  .simple-popup_theme_normal{
    backdrop-filter: blur(33px) !important;
  }
  .Popup2_view_default {
    background: var(--yandex-menu) !important;
  }
  .Popup2_view_default,
  .HeaderDesktopForm-InputWrapper,
  .mini-suggest__popup,
  .keyboard__popup,
  .simple-popup_theme_normal{
    border:1px solid var(--gnome-kose) !important;
  }
  .mini-suggest__overlay,
  .MMViewerModal-Paranja{
    background: none !important;
  }
  .mini-suggest__popup,
  .body_search_yes .HeaderDesktopForm.mini-suggest_overlay_tile,
  .simple-popup_theme_normal{
  border-radius:12px !important;
  }
}



