/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --in-content-sidebar-width: 275px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-background: #111111 !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --card-background: #edebeb !important;
  }
}

#trackingGroup[hidden="true"] {
  display: none !important;
}

#trackingGroup {
  display: unset;
}

.profiles-icon {
  list-style-image: url("chrome://floorp/skin/designs/lepton/mail-inbox-all.svg");
}

#leptonButton {
  margin-right: 10px;
}

#category-lepton>.category-icon {
  list-style-image: url("chrome://mozapps/skin/extensions/category-themes.svg")
}

#category-design>.category-icon {
  list-style-image: url("chrome://browser/skin/customize.svg") !important;
}

#category-BSB>.category-icon {
  list-style-image: url("chrome://browser/skin/sidebars.svg") !important;
}

#category-Downloads>.category-icon {
  list-style-image: url("chrome://browser/skin/downloads/downloads.svg") !important;
}

#category-csk >.category-icon {
  list-style-image: url("chrome://floorp/skin/designs/lepton/select-all-on.svg") !important;
}

#category-workspaces>.category-icon {
  list-style-image: url("chrome://browser/skin/window.svg") !important;
}

#category-ssb>.category-icon {
  list-style-image: url("chrome://floorp/skin/designs/lepton/pwa-manage.svg") !important;
}

#communityDesc {
  padding: 25px 0px 25px 0px;
}

.floorp-contributor {
  display: inline;
  margin-right: 10px;
}

.bottom-link {
  margin-top: 20px;
  margin-left: 55px;
}

#floorp-logos {
  display: flex;
  padding: 12px 16px !important;
  background: var(--card-background) !important;
  box-shadow: var(--card-shadow) !important;
  border-radius: 4px !important;
  border: 0 !important;
}

#floorp-discription {
  padding: 14px;
  font-size: 1.5em;
  font-weight: 500;
  margin-left: 15px;
}

#aboutablaze {
  margin-top: 33px !important;
}

#floorpimg {
  list-style-image: url("chrome://browser/skin/floorp.png");
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
  fill-opacity: 0.5;
  width: 4.5em;
  height: 4.5em;
}

#proton {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  transform: scaleX(1);
  content: url("chrome://mozapps/content/extensions/default-theme/preview.svg");
}

#photon-mode {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  transform: scaleX(1);
  content: url(chrome://floorp/skin/photon.png);
  min-width: 0px;
  max-height: 65px;
}

#lepton-mode {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  transform: scaleX(1);
  content: url(chrome://floorp/skin/lepton.png);
  min-width: 0px;
  max-height: 65px;
}

#protonfix-mode {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  transform: scaleX(1);
  content: url(chrome://floorp/skin/protonfix.svg);
  min-width: 0px;
}

#as-titlebar-mode {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  transform: scaleX(1);
  content: url(chrome://floorp/skin/tabbar-as-titlebar.png);
  min-width: 0px;
  max-height: 65px;
}

#one-liner-mode {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  transform: scaleX(1);
  content: url(chrome://floorp/skin/tabbarasurlbar.png);
  min-width: 0px;
  max-height: 65px;
}

@media (-moz-platform: linux) {
  #setDefaultPane, #macOS-only, .floorp-updater, #Windows-only {
    display: none !important;
  }
}

@media (-moz-platform: windows) {
  #macOS-only, #Linux-only, .floorp-updater {
    display: none !important;
  }
}

@media (-moz-platform: macos) {
  #Linux-only {
    display: none !important;
  }
}

#proton-fix {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  transform: scaleX(1);
  content: url("chrome://floorp/skin/protonfix/proton-fix.svg");
}

#photon {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--in-content-box-border-color);
  border-radius: 4px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  transform: scaleX(1);
  content: url("chrome://floorp/skin/designs/lepton/photon.svg");
}

#sub-preference {
  color: #d0d0d0;
  font-size: 14px;
}

.themes {
  padding-top: 20px;
}

#floorp-header::before {
  content: "\A" !important;
  white-space: pre !important;
}

#floorp-ui {
  border-top: solid 0.1px gray;
  padding-top: 1em;
}

#aboutlegacy {
  display: block !important;
}

#treestyletab {
  margin-top: 2em;
}

#floorp-settings {
  border-top: solid 0.1px #726e6e;
  width: 33.2em;
  padding-top: 1em;
}

#category-general>.category-icon {
  list-style-image: url(chrome://browser/skin/preferences/category-general.svg) !important;
}

#category-home>.category-icon {
  list-style-image: url(chrome://browser/skin/home.svg) !important;
}

#category-search>.category-icon {
  list-style-image: url(chrome://browser/skin/preferences/category-search.svg) !important;
}

#category-sync>.category-icon {
  list-style-image: url(chrome://browser/skin/sync.svg) !important;
}

.category[name="discover"] {
  background-image: url(chrome://browser/skin/star.svg) !important;
}

.category[name="theme"] {
  background-image: url(chrome://browser/skin/brush.svg) !important;
}


/* Sync Items */

.sync-engine-bookmarks .checkbox-icon, .sync-engine-bookmarks.sync-engine-image {
  list-style-image: url(chrome://browser/skin/bookmark.svg) !important;
}

.sync-engine-history .checkbox-icon, .sync-engine-history.sync-engine-image {
  list-style-image: url(chrome://browser/skin/history.svg) !important;
}

.sync-engine-tabs .checkbox-icon, .sync-engine-tabs.sync-engine-image {
  list-style-image: url(chrome://browser/skin/new-tab.svg) !important;
}

BSB-header-links {
  font-size: 1.25rem;
  margin-block-end: 15px;
}

#BSBView {
  background: transparent;
  margin-block-end: 8px;
}

#BSBView richlistitem {
  min-height: 60px;
  padding-block: 4px;
  border-block-end: 1px solid var(--in-content-border-color);
}

#BSBView richlistitem>.container-buttons {
  margin-inline-end: 4px;
}

.BSB-list-selected {
  --in-content-button-background: color-mix(in srgb, currentColor 15%, transparent);
  --in-content-button-background-hover: color-mix(in srgb, currentColor 30%, transparent);
  --in-content-button-background-active: color-mix(in srgb, currentColor 45%, transparent);
  --in-content-button-text-color: var(--in-content-item-selected-text);
  --in-content-button-text-color-hover: var(--in-content-item-selected-text);
  --in-content-button-text-color-active: var(--in-content-button-text-color-hover);
  --in-content-focus-outline-color: var(--in-content-item-selected-text);
  background-color: var(--in-content-item-selected);
  color: var(--in-content-item-selected-text);
}

.BMS-Up, .BMS-Down {
  min-width: 0px !important;
}

 :is(#pictureFolder, #picturePath) {
  -moz-box-flex: 1;
  margin-block: 4px;
  margin-inline-start: 0;
  padding-inline-start: 30px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center left 8px;
}

 :is(#pictureFolder, #picturePath):-moz-locale-dir(rtl) {
  background-position-x: right 8px;
}

[preference="floorp.openLinkInExternal.enabled"][disabled="true"]+hbox, [preference="floorp.openLinkInExternal.enabled"]:not([checked="true"])+hbox {
  opacity: 0.5;
  pointer-events: none;
}

[disabled="true"] {
  opacity: 0.5;
}

.backup-date {
  margin: auto 10px;
}

.restore-button {
  margin-left: auto;
}

.backup-list {
  padding: 0.5em;
  border: none !important;
  padding: 12px 16px;
  background: var(--card-background) !important;
  box-shadow: var(--card-shadow) !important;
  border-radius: 4px !important;
  border: 0 !important;
  margin-top: 1em;
}

.backup-list>richlistitem {
  padding: 0.5em;
  border-bottom: 1px solid var(--in-content-border-color);
}

.backuped-time-label {
  font-size: 1.25em;
  font-weight: bold;
}

#userjs-list {
  padding: 12px 16px;
  background: var(--card-background) !important;
  box-shadow: var(--card-shadow) !important;
  border-radius: 4px !important;
  border: 0 !important;
  margin-top: 1em;
}

#userjss-label {
  font-size: 1.25em;
  font-weight: bold;
}

#userjs-list>richlistitem {
  padding: 0.5em;
  border-bottom: 1px solid var(--in-content-border-color);
}

#userjs-list>richlistitem[selected="true"] {
  background-color: unset !important;
  color: unset !important;
}

.userjs-list-vbox {
  width: 85%;
}

.apply-userjs-button {
  margin-top: auto;
  margin-bottom: auto;
  width: 15%;
}

.ContentBlockBox {
  padding: 12px 16px;
  background: var(--card-background) !important;
  box-shadow: var(--card-shadow) !important;
  border-radius: 4px !important;
  border: 0 !important;
  margin: 10px 0px;
}

.AMO-Link {
  text-align: end;
  margin-top: auto;
}

.addonRecommend-box {
  display: flex;
}

.addonRecommend-img {
  width: 64px;
  height: 64px;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  margin-inline-end: 15px;
}

.addonRecommend-header {
  margin-top: 0;
}

.addonRecommend-label-box {
  width: -moz-available;
}

.csks-content-box {
  padding: 12px 16px;
  background: var(--card-background) !important;
  box-shadow: var(--card-shadow) !important;
  border-radius: 4px !important;
  border: 0 !important;
  margin: 10px 0px;
}

.csks-box-item {
  padding: 10px 0px 0px 0px;
}

.csks-box-item {
  border-top: solid 1px gray;
  margin: 20px 0px 0px 0px;
}

.csks-box-item-label {
  font-weight: bold;
}

.indent.tip-caption.csks-box-item-description {
  font-weight: bold;
}

.csks-box-title {
  font-size: 20px;
  font-weight: bold;
}

.csks-box-item-description::before {
  display: none;
}

#workspaces-removed-title {
  margin: 0;
  margin-bottom: 10px;
}

#workspaces-removed-warning-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

#workspaces-removed-migration-tools-description {
  margin-bottom: 10px;
}

#ssb-installed-apps-list-label {
  font-size: 1.25em;
  font-weight: bold;
}

#ssb-installed-apps-list {
  padding: 12px 16px;
  background: var(--card-background) !important;
  box-shadow: var(--card-shadow) !important;
  border-radius: 4px !important;
  border: 0 !important;
  margin: 10px 0px;
}

.ssb-image {
  width: 32px;
  height: 32px;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: contain;
  margin-inline-end: 15px;
  margin-top: 10px;
}

.ssb-uninstall-button {
  margin-top: auto;
}

.sbb-name-label {
  font-weight: bold;
}

.ssb-url-label {
  margin-top: 5px;
  font-size: 12px;
  max-width: 25em;
  overflow: hidden;
}

#workspace-warning {
  margin-top: 10px;
}
