@media (prefers-color-scheme: dark) {
	
	#root {
	  border-radius: 15px;
	  -webkit-transition: background-image 5s;
	}
	
	.ds-outer-wrapper-breakpoint-override main {
	  background: color-mix(in srgb, var(--bg-color) 30%, transparent);
	  border-radius: 30px;
	  backdrop-filter: blur(5px);
	  margin-top: auto;
	  margin-bottom: auto;
	}
}

@media (prefers-color-scheme: light) {
	
	#root {
	  border-radius: 15px;
	  -webkit-transition: background-image 5s;
	}
	
	.ds-outer-wrapper-breakpoint-override main {
	  background: color-mix(in srgb, var(--bg-color) 30%, transparent);
	  border-radius: 30px;
	  backdrop-filter: blur(5px);
	  margin-top: auto;
	  margin-bottom: auto;
	}
}

.non-collapsible-section {
  margin-top: 15px;
}

.only-search .search-wrapper {
  padding-top: 50px;
}

.search-wrapper .search-handoff-button, .search-wrapper input, .top-site-outer .tile, .card-outer .card, .card-outer, .top-site-outer {
  border-radius: 15px;
}

.card-outer .card-preview-image-outer {
  border-radius: 15px 15px 0 0;
}

.top-site-outer {
  transition: 0.15s;
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--newtab-background-color);
  opacity: 1;
  transition: opacity 1s ease;
  pointer-events: none;
}