/*-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
    --uc-toolbarbutton-inner-padding: 8px;
}

.tab-icon-image {
    margin-left: 3px;
}

#TabsToolbar-customization-target.customization-target #tabbrowser-tabs #tabbrowser-arrowscrollbox .tabbrowser-tab .tab-stack .tab-content {
    padding-inline: var(--inline-tab-padding) 0 !important;
}

#TabsToolbar-customization-target .tab-background {
    border-bottom-left-radius: var(--tab-border-radius) !important;
    border-bottom-right-radius: var(--tab-border-radius) !important;
}

#TabsToolbar-customization-target.customization-target #alltabs-button.toolbarbutton-1.chromeclass-toolbar-additional.tabs-alltabs-button .toolbarbutton-badge-stack {
    padding: 2px !important;
}
#TabsToolbar-customization-target.customization-target #firefox-view-button.toolbarbutton-1.chromeclass-toolbar-additional label.toolbarbutton-text {
    padding-left: 8px !important;
}

#TabsToolbar-customization-target #tabbrowser-tabs:not([overflow="true"]) .tabbrowser-tab:first-of-type {
    margin-inline-start: 0 !important;
}