<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Midori Browser Contributors</title>
    <meta charset="UTF-8" />
  </head>

  <body>
    <header>
      <h1>Midori Browser Contributors</h1>
      <h3>
        Midori is a light, fast and secure web browser that promotes user privacy and security.
        Below is a list of the contributors to the Midori Browser.
      </h3>
    </header>
    <hr />
    <h4>Midori Browser Contributors:</h4>
    <div class="contributors">
      <ul>
        <li>Cuates.net</li>
        <li>El Mau</li>
        <li>nilsonmorales</li>
        <li>josejp2424</li>
        <li>loC-OS</li>
        <li>Nico🍊⚓</li>
        <li>Nico Informatica</li>
        <li>Elvis Roman</li>
        <li>Alex Bejarano</li>
        <li>Carl Strom</li>
        <li>Nicholas Jonas</li>
        <li>Dominic Logue</li>
        <li>Jonathan Gaddi Giomini</li>
        <li>Rogelio José Trujillo Moreno</li>
        <li>Jorge Codina</li>
        <li>Cartillo</li>
        <li>Tony</li>
        <li>Jacopo</li>
        <li>Guerrero Negro</li>
        <li>Franklin Ortiz</li>
      </ul>
    </div>
    <hr />
    <p>We would like to give special thanks to these contributors.</p>
    <footer>
      <p>
        <i>
          This is the list of people, who have devoted significant time and
          delivered useful results. Contributors who wish to be added to the
          list should submit a Pull Request or consider joining the Midori Browser!
        </i>
      </p>
    </footer>
  </body>
</html>

<style>
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
  }

  hr {
    height: 3px;
    background-color: black;
    border: none;
  }

  .contributors ul {
    list-style: none;
    padding: 0;
  }

  .contributors li {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
</style>
