
/* Toolbars***************************************************************/

toolbar {
  display: none !important;
}

#titlebar {
  display: none !important;
}

/* Toolbar buttons *****************************************************/

#fxa-toolbar-menu-button {
  display: none !important;
}

/* Back, Forward, Stop, Reload buttons should be shown *********************************/

#back-button {
  display: inherit;
}

#forward-button {
  display: inherit;
}

#stop-reload-button {
  display: inherit;
}

/* Context menu ********************************************************/

#context-take-screenshot {
  display: none !important;
}

#context-viewsource {
  display: none !important;
}

#context-sep-screenshots {
  display: none !important;
}

/* others *************************************************************/
#statuspanel {
  display: none !important;
}
